---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"21a43a63530e2f2df608e7668fab4071"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM","user":{"id":2340203,"email":"tara.mcparland@gmail.com","created_at":"2016-04-28T17:08:53.528-07:00","updated_at":"2017-01-04T17:27:13.590-08:00","facebook_id":null,"first_name":"Tara","last_name":"Mcparland","role":"user","stripe_customer_id":"cus_8M7SuyUynXqLUU","twitter_handle":null,"skype_handle":"ardaquendiel","github_handle":"tmcparland","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"Graduated from the University of Florida in
        2013 with a BS in Animal Science. Since then have worked at an animal rescue,
        dog park, and two veterinary offices. I am currently working full time as
        a veterinary technician. I also own and manage the farm that I live on raising
        mainly goats. Looking to change to a career that will allow me to grow and
        learn more about programming.","photo_file_name":"11889535_10207236095205667_533847030719098742_n.jpg","photo_content_type":"image/jpeg","photo_file_size":81<ROADMAP_ID>3,"photo_updated_at":"2016-05-22T20:34:26.353-07:00","send_new_message_emails":true,"referred_by_id":null,"slug":"tara-mcparland","os":"Windows","last_seen_at":"2017-01-04T17:27:13.524-08:00","private_profile":false,"google_plus_id":null,"linkedin":null,"quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4842,"phone_num":"4072572102","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"ardaquendiel","birthdate":"1989-11-03","gender":"Female","first_visit_id":null,"codewars_handle":null}}'
  recorded_at: Thu, 05 Jan 2017 01:27:13 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/checkpoints/<CHECKPOINT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"641c97d2bac71fa6e00f39089ab01591"'
    body:
      encoding: UTF-8
      string: '{"id":<CHECKPOINT_ID>,"name":"Checkpoint Submission","body":"\u003eAs
        a user, I want to submit checkpoint assignments\n\u003e[Difficulty Rating](https://www.bloc.io/resources/projects-difficulty-ratings):
        3\n\n## Checkpoint Submissions\n\nAdd a `create_submission` method that creates
        a new Bloc checkpoint submission on the Bloc platform. Use the [create checkpoint
        submission endpoint](http://docs.blocapi.apiary.io/#reference/0/checkpoint-submissions/create)
        to create a new submission. Checkpoint submissions are tied to your account
        via an `enrollment_id`, which is included in your user information. Implement
        `create_submission` so that it can be used as follows:\n\n```bash\n$ irb\n\u003e\u003e
        require ''kele''\n=\u003e true\n\u003e\u003e kele_client = Kele.new(\"Hannah.McExample@gmail.com\",
        \"abc123\")\n\u003e\u003e kele_client.create_submission(checkpoint_id, assignment_branch,
        assignment_commit_link, comment)\n```\n\n### Test Your Code\nTest `Kele` in
        IRB to ensure that you can:\n\n- Create a new checkpoint submission","parent_id":null,"created_at":"2016-03-03T08:41:59.829-05:00","updated_at":"2016-03-03T09:08:12.843-05:00","assignment":"Complete
        the user story.","summary":"Submit Checkpoint Assignments","points":1,"project_name":"","roadmap_id":null,"active":true,"job_prep":false,"version":[0,0],"body_file_path":"","uuid":"0ee5b6ce-88bd-4704-92df-39779e31c5dc","ref":"0ee5b6ce-88bd-4704-92df-39779e31c5dc|0","retroactive_optional_date":null,"checkpoint_type":"normal","quiz_id":null,"viewable_to_demo_user":false}'
  recorded_at: Thu, 05 Jan 2017 01:27:14 GMT
recorded_with: VCR 3.0.3
