---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2a2ef084bd05d48cd41efb0177168312"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM","user":{"id":2340203,"email":"tara.mcparland@gmail.com","created_at":"2016-04-28T14:08:53.528-10:00","updated_at":"2017-01-04T15:27:12.528-10:00","facebook_id":null,"first_name":"Tara","last_name":"Mcparland","role":"user","stripe_customer_id":"cus_8M7SuyUynXqLUU","twitter_handle":null,"skype_handle":"ardaquendiel","github_handle":"tmcparland","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"Graduated from the University of Florida in
        2013 with a BS in Animal Science. Since then have worked at an animal rescue,
        dog park, and two veterinary offices. I am currently working full time as
        a veterinary technician. I also own and manage the farm that I live on raising
        mainly goats. Looking to change to a career that will allow me to grow and
        learn more about programming.","photo_file_name":"11889535_10207236095205667_533847030719098742_n.jpg","photo_content_type":"image/jpeg","photo_file_size":81<ROADMAP_ID>3,"photo_updated_at":"2016-05-22T17:34:26.353-10:00","send_new_message_emails":true,"referred_by_id":null,"slug":"tara-mcparland","os":"Windows","last_seen_at":"2017-01-04T15:27:12.462-10:00","private_profile":false,"google_plus_id":null,"linkedin":null,"quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4842,"phone_num":"4072572102","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"ardaquendiel","birthdate":"1989-11-03","gender":"Female","first_visit_id":null,"codewars_handle":null}}'
  recorded_at: Thu, 05 Jan 2017 01:27:12 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/mentors/<MENTOR_ID>/student_availability
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f553a7d2d53cefe77e00d18fd9f71df1"'
    body:
      encoding: UTF-8
      string: '[{"id":15180,"starts_at":"2017-01-09T23:00:00.000Z","ends_at":"2017-01-09T23:29:59.000Z","week_day":1,"booked":null},{"id":15209,"starts_at":"2017-01-12T00:30:00.000Z","ends_at":"2017-01-12T00:59:59.000Z","week_day":4,"booked":null},{"id":15220,"starts_at":"2017-01-06T00:30:00.000Z","ends_at":"2017-01-06T00:59:59.000Z","week_day":5,"booked":null},{"id":15210,"starts_at":"2017-01-12T01:00:00.000Z","ends_at":"2017-01-12T01:29:59.000Z","week_day":4,"booked":true},{"id":15207,"starts_at":"2017-01-11T23:30:00.000Z","ends_at":"2017-01-11T23:59:59.000Z","week_day":3,"booked":null}]'
  recorded_at: Thu, 05 Jan 2017 01:27:13 GMT
recorded_with: VCR 3.0.3
