---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c0775ffd38e396ce72e69aae58bed3c9"'
    body:
      encoding: ASCII-8BIT
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM","user":{"id":2340203,"email":"tara.mcparland@gmail.com","created_at":"2016-04-28T14:08:53.528-10:00","updated_at":"2017-01-04T15:24:09.196-10:00","facebook_id":null,"first_name":"Tara","last_name":"Mcparland","role":"user","stripe_customer_id":"cus_8M7SuyUynXqLUU","twitter_handle":null,"skype_handle":"ardaquendiel","github_handle":"tmcparland","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"Graduated from the University of Florida in
        2013 with a BS in Animal Science. Since then have worked at an animal rescue,
        dog park, and two veterinary offices. I am currently working full time as
        a veterinary technician. I also own and manage the farm that I live on raising
        mainly goats. Looking to change to a career that will allow me to grow and
        learn more about programming.","photo_file_name":"11889535_10207236095205667_533847030719098742_n.jpg","photo_content_type":"image/jpeg","photo_file_size":81<ROADMAP_ID>3,"photo_updated_at":"2016-05-22T17:34:26.353-10:00","send_new_message_emails":true,"referred_by_id":null,"slug":"tara-mcparland","os":"Windows","last_seen_at":"2017-01-04T15:24:09.131-10:00","private_profile":false,"google_plus_id":null,"linkedin":null,"quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4842,"phone_num":"4072572102","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"ardaquendiel","birthdate":"1989-11-03","gender":"Female","first_visit_id":null,"codewars_handle":null}}'
  recorded_at: Thu, 05 Jan 2017 01:27:12 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fd36c97e83e57bb24f2d53a9c1248c1e"'
    body:
      encoding: UTF-8
      string: '{"id":2340203,"slug":"tara-mcparland","name":"Tara Mcparland","email":"tara.mcparland@gmail.com","title":null,"first_name":"Tara","last_name":"Mcparland","facebook_id":null,"url":"/users/tara-mcparland","bio":"Graduated
        from the University of Florida in 2013 with a BS in Animal Science. Since
        then have worked at an animal rescue, dog park, and two veterinary offices.
        I am currently working full time as a veterinary technician. I also own and
        manage the farm that I live on raising mainly goats. Looking to change to
        a career that will allow me to grow and learn more about programming.","course":{"id":35,"name":"Full
        Stack Web Developer Track","length":72,"kind":"web_dev_track","appointments_per_week":1},"current_enrollment":{"id":19595,"created_at":"2016-11-26T00:41:42.604-08:00","updated_at":"2016-12-21T17:36:15.882-08:00","cohort_id":null,"status":"active","mentor_id":<MENTOR_ID>,"deleted":false,"onboarded":true,"dropped_out_at":null,"birth_date":"2016-11-26T00:41:42.593-08:00","roadmap_id":31,"course_end_date":"2017-02-20T23:00:00.000-08:00","course_start_date":"2016-05-22T17:00:00.000-07:00","death_date":null,"sent_get_started_email":false,"course_id":35,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":4842,"roadmap_ref":"af25ff7b-d789-4926-b4d7-4708a45a10b5|1","visit_id":"df8f1215-8370-49a7-ad07-9c5403c865be"},"quota":0,"quota_limit":0,"type":"Student","status":"active","image_src":"https://cdn-photos.bloc.io/original/2340203/11889535_10207236095205667_533847030719098742_n.jpg?1463974466","large_image_src":"https://cdn-photos.bloc.io/large/2340203/11889535_10207236095205667_533847030719098742_n.jpg?1463974466","created_at":"2016-04-28
        17:08:53 -0700","facebook_profile_picture_url":"http://graph.facebook.com//picture?width=110\u0026height=110","github_handle":"tmcparland","codecademy_handle":"ardaquendiel","student":true,"time_zone":{"name":"Eastern
        Time (US \u0026 Canada)","string":"(GMT-05:00) Eastern Time (US \u0026 Canada)","identifier":"America/New_York"}}'
  recorded_at: Thu, 05 Jan 2017 01:27:12 GMT
recorded_with: VCR 3.0.3
