---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v1/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6c5a1b129ccb66f04bfac747d3fb894b"'
    body:
      encoding: UTF-8
      string: '{"auth_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM","user":{"id":2340203,"email":"tara.mcparland@gmail.com","created_at":"2016-04-28T17:08:53.528-07:00","updated_at":"2017-01-04T17:27:14.030-08:00","facebook_id":null,"first_name":"Tara","last_name":"Mcparland","role":"user","stripe_customer_id":"cus_8M7SuyUynXqLUU","twitter_handle":null,"skype_handle":"ardaquendiel","github_handle":"tmcparland","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"Graduated from the University of Florida in
        2013 with a BS in Animal Science. Since then have worked at an animal rescue,
        dog park, and two veterinary offices. I am currently working full time as
        a veterinary technician. I also own and manage the farm that I live on raising
        mainly goats. Looking to change to a career that will allow me to grow and
        learn more about programming.","photo_file_name":"11889535_10207236095205667_533847030719098742_n.jpg","photo_content_type":"image/jpeg","photo_file_size":81<ROADMAP_ID>3,"photo_updated_at":"2016-05-22T20:34:26.353-07:00","send_new_message_emails":true,"referred_by_id":null,"slug":"tara-mcparland","os":"Windows","last_seen_at":"2017-01-04T17:27:13.524-08:00","private_profile":false,"google_plus_id":null,"linkedin":null,"quota":0,"old_first_visit_id":null,"selected_enrollment_chain_id":4842,"phone_num":"4072572102","title":null,"quota_limit":0,"dribbble_handle":null,"codecademy_handle":"ardaquendiel","birthdate":"1989-11-03","gender":"Female","first_visit_id":null,"codewars_handle":null}}'
  recorded_at: Thu, 05 Jan 2017 01:27:14 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v1/message_threads?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiMzg5NWUxNTFjOWE0NGMwNGEyYmQ2NzIyYTE0YThlMjIiLCJ1c2VyX2lkIjoyMzQwMjAzLCJuYW1lIjoiVGFyYSBNY3BhcmxhbmQifQ.rmB4E2j3YwDNLiSxAh7d4-hSiglo7Vl--5VBHMKb2mM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"df5349e52ea70e78a9b0ff329ba2d9e4"'
    body:
      encoding: UTF-8
      string: '{"items":[{"id":253358,"token":"3c570bc6-c638-4ea8-a6f6-6547d354e41a","subject":"You
        rule!","updated_at":"2016-12-27T14:12:33.187-08:00","unread":false,"user_image":"https://cdn-photos.bloc.io/square/<MENTOR_ID>/unnamed.jpg?1422145878","preview":"Congratulations
        on the excellent assessment (9/...","first_name":"Brittany","last_name":"Martin","page":"1"},{"id":252300,"token":"d22fe3eb-d210-4342-bdc6-3381714e9598","subject":"ssh","updated_at":"2016-12-21T17:52:52.176-08:00","unread":false,"user_image":"https://cdn-photos.bloc.io/square/<MENTOR_ID>/unnamed.jpg?1422145878","preview":"Hooray!
        I''m proud.","first_name":"Brittany","last_name":"Martin","page":"1"},{"id":250737,"token":"50f35210-1f39-406d-8ca1-54786b5b27f6","subject":"Rails
        Assessment - Schedule Please","updated_at":"2016-12-15T17:36:13.6<ROADMAP_ID>-08:00","unread"[...]
